$light-cyan: #ddfcff;
$metallic-seaweed: #13888e;
$sea-serpent: #49bdc1;
$medium-sky-blue: #8ed9e5;
$flamingo-pink: #fc97a8;

$body-background-color: $light-cyan;
$text-color: $metallic-seaweed;
$input-placeholder-color: $flamingo-pink;
$border-color: $text-color;
$item-completed-color: $light-cyan;
